/* main text color: #2E2F42 */
/* secondary text color: #434455 */
/* akcent color: #4D5AE5 */

:root {
    --primary-text-color: #2E2F42 ; 
    --title-text-color: #434455 ;
    --akcent-color: #4D5AE5;
    --primary-bg-color: #ffffff;
    --logo-akcent-color: #F4F4FD;
}

/* Specialty */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

a {
    text-decoration: none;
}

.list {
    list-style: none;
}

/* Button */
.button {
    color: var(--akcent-color);
    background-color: var(--primary-bg-color);
    font-weight: 500;
    font-size: 16px;
    padding: 16px 32px;
    display: block;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button.primary {
    color: var(--primary-bg-color);
    background-color: var(--akcent-color);
}

.button{

}

.button:hover, 
:focus {
    background-color: #404BBF;
}
/* Header */

/* Nav */

/* Logo */
.logo {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
}

.logo{
    color: var(--akcent-color);
}

.logo-span{
    color: var(--primary-text-color);
}
.logo-span-footer{
    color: var(--logo-akcent-color);
}
/* Menu */
.site-nav .link{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

/* Address */
.address-nav .link{
    color: #434455;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
}

/* Hero */
.hero {
    background-color: #2E2F42;
}

.hero-title {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    color: var(--primary-bg-color);
}

/* Section-1*/

.features-list .title{
    color: var(--primary-text-color);
}

.features-list .paragraf {
    color: var(--title-text-color);
}

/* Footer */

footer {
    background-color: var(--primary-text-color);
}